@import "../Scss/Colors";
@import "../Scss/Fonts";

.Forecast {
  text-align: center;
  background-color: $opacity;
  border-radius: 10px;
  padding: 20px;
  column-gap: 15px;

  &__temp {
    margin: 0;
  }
  .col {
    font-size: 11px;
  }
}
.col-2 {
  font-size: 0.75rem;
}
