@import "../Scss/fonts";
@import "../Scss/colors";
.Forecast {
  text-align: center;
  background-color: $opacity;
  border-radius: 10px;

  &__temp {
    margin: 0;
  }
  .col {
    font-size: 11px;
    padding: 15px 0 15px 0;
  }
}
