@import "../Scss/Colors";
@import "../Scss/Fonts";

.Forecast {
  background-color: $light-blue;

  /*display: grid;

  grid-template-columns: repeat(12, 1fr);*/

  &__temp {
    margin: 0;
  }
}
.Forecast canvas {
  display: block;
}
