@import "../Scss/fonts";
@import "../Scss/colors";

.temperature {
  font-size: 2.5rem !important;
  text-align: left;
  &__celsius {
    color: $white !important;
  }
  &__farenheit {
    color: $white !important;
  }
  &__units {
    position: relative;
    bottom: 15px;
    left: 2px;
  }
}
