@import "../../node_modules/bootstrap/scss/colors.scss";

.searchbar {
  padding: 10px;
  border-radius: 10px;
  &__search {
    width: 100%;
  }
  button {
    background-color: $white;
    border: none;
    border-radius: 0 20px 20px 0;
  }
  input {
    border: none;
    border-radius: 20px 0 0 20px;
  }
}
