#current-city {
  font-size: 40px;
}

#current-date {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}

.update-time {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 0;
  color: #fff3e2;
}
