@import "../Scss/Colors";

p {
  font-size: 15px;
}

canvas {
  display: block;
  color: $white;
  width: 20px;
  margin: 0 auto;
}

section {
  padding: 10px;
}
article {
  margin-bottom: 180px;
  padding: 10px;
}
a {
  font-size: 15px;
}
a:hover {
  text-decoration: none !important;
}
h6 {
  color: $black;
}

section {
  padding-top: 0;
}
.searchbar {
  padding-bottom: 0;
  padding-top: 30px;
}
