@import "../Scss/Colors";

p {
  font-size: 15px;
}

.units {
  color: $white;
}

a {
  color: $white;
  font-size: 20px;
}
canvas {
  display: block;
  color: $white;
  width: 25px;
}

section {
  padding: 10px;
}
